# directories
/data
/users
/matlab_diaries
**.


# data (or plot) file types, but not info file types
**/*.raw
**/*.use*
**/*.png
**/*.eps
**/*.fig
**/*.tiff
**/*.ps
**/*.log
**/*.nc
**/*.mat
**/*.mat.zip
**/*.dat

# ignore oceansites_format folder
exec/gitrepo/export_Oceansites/oceansites_format/

# temporary matlab file:
*~**
*.asv

# other
**/.DS_Store
**/.ipynb_checkpoints
**/._*

# exclude any cruise specific startup files
startup*

