# all data directories (cruise data and mooring data)
/data

# data (or plot) file types, but not info file types
*.mat.zip
*.mat
*.raw
*.use*
*.png
*.eps
*.fig
*.tiff
*.ps
*.log
*.nc

# diaries
/matlab_diaries

# temporary files and Mac things
*~
*.asv
.DS_Store
._*
